 {% extends 'layout.html.twig' %}

	{% block title %} {{ title }} {% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-5">
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('danger') %}
			<div class="alert alert-danger">
				{{ flashMessage }}
			</div>
		{% endfor %}

		{{ form_start(rapportForm, {'attr' : {'class' : 'form-horizontal'} }) }}
			<div class="form-group">
				{{ form_label(rapportForm.idPraticien, 'Choisir le praticien', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.idPraticien) }}
				{{ form_widget(rapportForm.idPraticien, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.dateRap, 'Choisir la date de rappel de visite', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.dateRap) }}
				{{ form_widget(rapportForm.dateRap) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.dateVisite, 'Choisir la date de visite', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.dateVisite) }}
				{{ form_widget(rapportForm.dateVisite) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.idMotif, 'Choisissez le motif de la visite', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.idMotif) }}
				{{ form_widget(rapportForm.idMotif, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.bilan, 'Completez le bilan', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.bilan) }}
				{{ form_widget(rapportForm.bilan, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.echantillon, 'Choisir les echantillons', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.echantillon) }}
				{{ form_widget(rapportForm.echantillon, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div id="lstMedChoisi">
                
			</div>

			
			<div class="form-group">	
				{{ form_errors(rapportForm.echantillon) }}
				{{ form_widget(rapportForm.echantillon, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group col-md-8">
				<div class="pull-right">
					<input type="submit" class="btn btn-primary btn-ls" value="Save"/>
				</div>
			</div>

		{{ form_end(rapportForm) }}
	</div>
</div>

{% endblock %}

{% block javascript %}

<script>
document.getElementById("rapport_echantillon").onchange = function(){
    //idEch = id de l'echantillon
	var idEch  = document.getElementById("rapport_echantillon").value;
    //value = nom du medicament
	var value  = document.getElementById("rapport_echantillon").options[document.getElementById('rapport_echantillon').selectedIndex].text;
  	var liste  = document.getElementById("rapport_echantillon");
  	var index  = document.getElementById("rapport_echantillon").selectedIndex;
  	var strEch = document.getElementById("rapport_strEchantillon");
    
  	//value contient le nom de l'item choisi dans le select
  	var div = document.getElementById("lstMedChoisi");
  	if(document.getElementById("lstMedChoisi").childNodes.length <= 10){
        var nodeGrp = document.createElement("div");
        var node = document.createElement("div");
        var nodeBtn = document.createElement("div");
        
	  	node.textContent = value;
        node.id = liste.selectedIndex + "/" + idEch;
        
        nodeGrp.id = "grp" + document.getElementById("lstMedChoisi").childNodes.length;
	  	nodeGrp.appendChild(node);
        
        nodeBtn.className = "btn btn-danger";
        nodeBtn.id = "btnSuppr" + document.getElementById("lstMedChoisi").childNodes.length;
        nodeBtn.textContent = "Supprimer";
        nodeBtn.setAttribute("onClick", "ClickSuppr(" + nodeBtn.id + ")");
        
        nodeGrp.appendChild(nodeBtn);
        div.appendChild(nodeGrp);
	  	
        strEch.value = strEch.value + ";" + idEch;
	  	
	  	liste.options[liste.selectedIndex].disabled = true;	
  	} else{
  		alert("Impossible de choisir plus de 10 echantillons");
  	}
};

function ClickSuppr(btn){
    var numGrp = btn.parentElement.id;
    //rankOrId[0] = rang dans la liste des medicaments
    //rankOrId[1] = id du medicament
    var rankOrId = btn.parentElement.firstChild.id.split("/");
  	var strEch = document.getElementById("rapport_strEchantillon");
    
    //Enlever l'id du medicament de la liste a sauvegarder
    strEch.value = strEch.value.replace(";" + rankOrId[1].toString(),"");
    //Remet le medicament cliquable dans la liste
    document.getElementById("rapport_echantillon").options[rankOrId[0]].disabled = false;
    for(i = 1; i < btn.parentElement.parentElement.childNodes.length; i++){
        //alert(btn.parentElement.parentElement.childNodes[i].id);
        if(btn.parentElement.parentElement.childNodes[i].id == numGrp){
            btn.parentElement.parentElement.removeChild(btn.parentElement.parentElement.childNodes[i])
        }
    }
}
</script>
{% endblock %}
