 {% extends 'layout.html.twig' %}

	{% block title %} {{ title }} {% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-5">
		{{ form_start(rapportForm, {'attr' : {'class' : 'form-horizontal'} }) }}
			<div class="form-group">
				{{ form_label(rapportForm.idPraticien, 'Choisir le praticien', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.idPraticien) }}
				{{ form_widget(rapportForm.idPraticien, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.dateRap, 'Choisir la date de rappel de visite', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.dateRap) }}
				{{ form_widget(rapportForm.dateRap) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.dateVisite, 'Choisir la date de visite', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.dateVisite) }}
				{{ form_widget(rapportForm.dateVisite) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.idMotif, 'Choisissez le motif de la visite', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.idMotif) }}
				{{ form_widget(rapportForm.idMotif, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(rapportForm.bilan, 'Completez le bilan', {'label_attr':{'class': 'control-label'} }) }}
				{{ form_errors(rapportForm.bilan) }}
				{{ form_widget(rapportForm.bilan, { 'attr': { 'class': 'form-control'}}) }}
			</div>

			<div class="form-group col-md-8">
				<div class="pull-right">
					<a href="{{ app.url_generator.generate('index') }}">
						<input type="submit" class="btn btn-primary btn-ls" value="Save"/>
					</a>
				</div>
			</div>

		{{ form_end(rapportForm) }}
	</div>
</div>

{% endblock %}